<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to our website!</h1>
    <p>This is the homepage content. and it is a cookies block </p>
</body>
</html>




